*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*root variables for the whole page to reduce redunancies*/
:root {
    --body-font-size: 1.5em;
    --body-font-color: #fff;
    --heading-font-color: #fff;
    --body-background-color: #404040;
    --body-font-family: "Times New Roman","serif";
    --heading-font-family: "Times New Roman","serif";
    --dark-color: gray;
    --light-color: #fff;
}
body {

    background-color:var(--body-background-color);
    color: var(--body-font-color);
    font-family:var(--body-font-family);
    font-size: var(--body-font-size);
   
}
/*used text-decoration to remove nav bar link underlines*/
a {
    text-decoration: none;
}
/*start of navigation css properties*/
.nav {
    width: 100%;
    font-size: 1.2rem;
    font-family:var(--body-font-family);
    position: relative;
    top: -20px;
    right: 0;
    display: inline-flex;
    flex-flow: row wrap;
    background-color:var(--dark-color);
    justify-content: space-evenly;
}
/*I wanted to apply animation effects to the name class so it was the first element to fade in upon visiting or reloading the page*/
.name {
    font-family: var(--heading-font-family);
    letter-spacing: 1px;
    line-height: 1.5;
    margin: 3em 1.5em;
    border: 2px solid white;
    padding: 10px;
    opacity: 1;
    animation: name ease 5s;
    -webkit-animation: name ease 5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
@keyframes name {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}/*end of name animation*/


.nav-name {
    text-transform: uppercase;
    font-size: 1.2em;
}
.nav-subname{
    text-transform: uppercase;
    font-size: .8rem;
    margin-left: 4.2rem;
    letter-spacing: 1px;
}
.nav-list {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.nav-item {
    list-style: none;
    margin: 5px;
    padding: 5px;
}
/*I thought it would be cool to add fade in animation effects to each link in the nav bar and stagger their ease in timing*/
.nav-link1 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--light-color);
    margin: 1em;
    animation: nav-link1 ease 5s;
    -webkit-animation: nav-link1 ease 6s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
@keyframes nav-link1 {
    0% {opacity:0;}
    /*50% {opacity:0.5;}*/ /*commented out the 50% opacity because I felt the ease was too slow but can be uncommented to see full effect or to modify for future use*/
    100% {opacity:1;}
}


.nav-link2 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--light-color);
    margin: 1em;
    animation: nav-link2 ease 8s;
    -webkit-animation: nav-link2 ease 8s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
@keyframes nav-link2 {
    0% {opacity:0;}
    /*50% {opacity:0.5;}*/ /*commented out the 50% opacity because I felt the ease was too slow but can be uncommented to see full effect or to modify for future use*/
    100% {opacity:1;}
}
.nav-link3 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--light-color);
    margin: 1em;
    animation: nav-link3 ease 8.5s;
    -webkit-animation: nav-link3 ease 8.5s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
}
@keyframes nav-link3 {
    0% {opacity:0;}
    /*50% {opacity:0.5;}*/ /*commented out the 50% opacity because I felt the ease was too slow but can be uncommented to see full effect or to modify for future use*/
    100% {opacity:1;}
}
 .nav-link4 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--light-color);
    margin: 1em;
    animation: nav-link4 ease 9s;
    -webkit-animation: nav-link4 ease 9s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
 }
 @keyframes nav-link4 {
    0% {opacity:0;}
    /*50% {opacity:0.5;}*/ /*commented out the 50% opacity because I felt the ease was too slow but can be uncommented to see full effect or to modify for future use*/
    100% {opacity:1;}
}
 .nav-link5 {
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:var(--light-color);
    margin: 1em;
    animation: nav-link5 ease 11s;
    -webkit-animation: nav-link5 ease 11s;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    
}
@keyframes nav-link5 {
    0% {opacity:0;}
    /*50% {opacity:0.5;}*/ /*commented out the 50% opacity because I felt the ease was too slow but can be uncommented to see full effect or to modify for future use*/
    100% {opacity:1;}
}/*end of nav links animation*/


.main {
    background-color: var(--body-background-color);
    background-repeat: no-repeat;
    background-attachment: scroll;
}






/*created this to add padding as to not affect the image speficially*/
section:not(.hero) {
    padding: 5em 0;
}
/*Background Image*/
.hero {
    min-height: 100vh;
    width: 100%;
    /*background:url("../images/brieandi.jpg");*/ /*commented out because it was overlapping with the <img tag on my html going to leave for now to revisit later*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-top: -10px;
}
/*About Styles*/
.about {
    margin-top: -10px;
}
.about-container {
    display:flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
}
/* added some animation effects to the about text as well to see if it help liven the page*/
.about-text{
    width: 20%;
    padding: 10px;
    text-decoration: underline;
    margin-bottom: 5em;
    border: 2px solid white;
    font-size: 1.5em;
    font-family: var(--body-font-family);
    opacity: 1;
    animation: about-text ease 15s;
    -webkit-animation: about-text ease 15s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes about-text {
    0% {opacity:0;}
    /*50% {opacity:0.5;}*/ /*commented out the 50% opacity because I felt the ease was too slow but can be uncommented to see full effect or to modify for future use*/
    100% {opacity:1;}
}
.about-subtext {
    width: 33%;
    word-break: break-word;
    border: 2px dotted white;
    padding: 35px;
}

/*Work styles starts here*/
.work {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
   
}
.work-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    /*justify-content: space-evenly;
    align-content: center;*/
    margin: 20px;
    
}
.work-container img {
    width: 250px;
    height: 250px;
    margin: 15px;
    
}
.work-box {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    min-height: 100%;
    padding: 1rem;
    border: 2px solid white;
    margin: 10px;
    background-color: #A0A0A0;
    
}
.box-header {
    position: relative;
    border: 2px dashed white;
    border-radius: 8px;
    padding: 10px;
    margin: 1rem;
    transition: all 2s ease-in-out;
}

/*added class thumbnail to the html and created a css element to achieve the work images transforming in scale when the user's mouse hovers over*/
.thumbnail {
    padding: 10px;
    transition: transform .2s
    width: 500px;
    height: 500px;
    display: block;
}
.thumbnail:hover {
    transform: scale(1.3);
}

.work-text {
    width: 20%;
    padding: 20px;
    margin: 10px 10px 100px 20px;
    order: 0;
    text-align: center;
    border: 2px solid white;
    text-decoration: underline;
}
/*Start of Contact Styles*/
.contact {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
}
.contact-text {
    padding: 20px;
    margin: 10px 10px 30px 20px;
    text-align: center;
    border: 2px solid white;
    width: 20%;
    text-decoration: underline;
}
.contact-container {
    text-align: center;
}
.contact-subtext {
    margin: 10px;
    text-decoration: none;
    color: var(--light-color);
}
footer {
    text-align: center;
    color:var(--light-color);
    font-family:var(--body-font-family);
    margin-bottom: 25px;
}
footer p {
    font-size: 10px;
}

.mybtn {
    padding: 10px;
    margin: 15px;
    text-decoration: none;
    color: #404040;
    background-color:var(--dark-color);
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    transition: transform 0.4s;
    border-radius: 20px;
    background-image: linear-gradient(#E0FFFF,#404040);
}
.mybtn:hover{
    background-color: #A0A0A0;
    transform: scale(0.9);
}



/*Media Queries for Reponsive Web Design Layout*/

@media screen and (max-width:600px){
    header,
    body {
        width:100%
    }
    .name {
        width: 50%;
        position: relative;
        top:0;
        left: -25;
    }
    .contact-text {
        font-size: 15pxl
        padding: 5px;
    }
   
}
@media screen and (max-width: 768px) {
    header,
    body,
    .work-container,
    .contact,
    .contact-container {
        width: 50%;
    }
    .name {
        width: 50%;
    }
    .about-text {
        width: 50%;
        padding: 0px;
    }
    .about-subtext {
        width: 50%;
        word-break: break-word;
        font-size: 15px;
        padding: 5px;
    }
    











/*this section is commented out. It originally had animation when it was holding default placeholder links. Going to keep commented out now 
to revisit later. I want to eventually achieve an animated image or Gif before the image transforms in scale when their mouse hovers over.
Not sure if I will use these class and elements but going to leave for now.*/


/*.work-link1 {
    margin: 5px;
    opacity: 1;
    animation: work-link1 ease 20s;
    -webkit-animation: work-link1 ease 20s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes work-link1 {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}

.work-link2{
    margin: 5px;
    opacity: 1;
    animation: work-link1 ease 22s;
    -webkit-animation: work-link1 ease 22s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes work-link2 {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}
.work-link3{
    margin: 5px;
    opacity: 1;
    animation: work-link2 ease 24s;
    -webkit-animation: work-link2 ease 24s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes work-link3 {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}
.work-link4{
    margin: 5px;
    opacity: 1;
    animation: work-link2 ease 26s;
    -webkit-animation: work-link2 ease 26s; 
    animation-delay: 1s;
    animation-iteration-count: 1;
}
@keyframes work-link4 {
    0% {opacity:0;}
    50% {opacity:0.5;}
    100% {opacity:1;}
}*/






















